.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.menu-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
}

.menu-link svg {
  width: 3rem;
  height: 3rem;
}

.menu-link:hover {
  filter: brightness(70%);
  transform: scale(1.01);
}