PORT = 8000

# DB_Config
DB_HOST = 'localhost'
DB_PORT = 5432
DB_USERNAME = 'postgres'
DB_PASSWORD = 'postgres'
DB_DATABASE = 'blog_next_udemy'
DB_SYNC = 'true'
DB_MIGRATE = 'true'

# APP_Config
APP_NAME = 'Blog Next Udemy API'
APP_ENV = 'development'
APP_VERSION = '1.0.0'

#JWT_Config
JWT_SECRET = ''
JWT_EXPIRATION_STRING = '1d'

# Whitelist para o CORS separado por espaço
CORS_WHITELIST="http://localhost:3000 http://localhost:8000"